input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;

}

input[type=number] {
 -moz-appearance: textfield;
 appearance: textfield;

}

#transfer-form {

	@apply w-full
		max-w-lg
		py-5
		px-10 ;
}

#transfer-form-fields {
	@apply w-full
		flex
		flex-col
		justify-center
		items-center
		gap-5 ;
}

#transfer-form-fields label {

	@apply relative
		w-full
		flex
		flex-col
		gap-3
		font-medium
		text-black ;
}

#transfer-form-fields label #toggle-password-display {

	@apply absolute
		right-10
		top-10
		cursor-pointer
		hover:scale-95 ;
}


#transfer-form-fields .primary-input {

	@apply w-full
		flex
		flex-col
		gap-3
		bg-gray-200
		text-gray-600
		focus:outline-black ;
}

#transfer-form footer {

	@apply w-full
		flex
		flex-col
		justify-center
		items-center
		gap-3 ;
}

#transfer-form footer .primary-button {

	@apply mt-5
		bg-black
		text-white ;
}
