.daisy-modal {
  background: rgba(23,28,38,0.15) !important;
  -webkit-backdrop-filter: blur(4px) !important;
  backdrop-filter: blur(4px) !important;
  border: 1px solid rgba(23,28,38,0.075) !important;
}

.daisy-modal-box {

  @apply max-w-max
    flex
    flex-col
    justify-center
    items-center
    pt-10
    rounded-xl
    bg-white !important;
}

#transfer-modal-balance {

	@apply text-gray-600
		font-medium ;
}

.close-modal {

	@apply absolute
		top-2
		right-2
		cursor-pointer
		hover:scale-95
		transition-all !important;
}
