#root .primary-button {

  @apply w-full
    py-3
    px-10
		max-h-11
    flex
    justify-center
    items-center
    gap-3
    bg-white
    rounded-md
    font-bold
    text-black
    text-base
    hover:scale-95
    transition-all
    disabled:cursor-not-allowed
    disabled:opacity-40
		disabled:hover:scale-100
    lg:text-sm ;
}


#root .secondary-button {

  @apply w-full
    font-bold
    bg-transparent
    text-gray-600
    text-sm
    hover:text-gray-200
    transition-all ;
}

#root .drop-button {

  @apply py-2
    px-2
    rounded-full
    font-bold
    bg-transparent
    text-gray-600
    text-sm
    hover:text-gray-200
    transition-all
    border-solid
    border
    border-gray-200
    pointer-events-none  ;
}
